
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;
    text-transform: uppercase;
}
.logo span {
    color: #4D5AE5;
}
footer .logo{
    color: #F4F4FD;
}
a {
    color: #2e2f42;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #404BBF;
}
a:active{
    color: #404BBF;
    text-decoration: underline;
}
footer a {
    color: #F4F4FD;
}
.nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
address {
    color: #434455;
    font-style: normal;
}
.hero {
    background-color: #2e2f42;
    color: #F4F4FD;
}
.hero-button {
    background-color: #4D5AE5;
    color: #F4F4FD;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
.team {
    background-color: #f4f4fd;
}
.team li {
    background-color: #ffffff;
}
.team p,
.team h2 {
    text-align: center;
}
.team h3 {
    text-align: center;
}
.portfolio h2{
    text-align: center;
}
h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    color: #2e2f42;

}
p{
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}
ul {
    list-style: none;
}
footer {
    background-color: #2e2f42;
    color: #F4F4FD;
}


